{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ title }}</h1>

<div>
    Sorry! The page you are looking for is or has never been available on CashApp! <br><br>
    errorcode: 404
</div>
{% endblock %}