{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ title }}</h1>

    <form action='{{ path('login') }}' method='POST'>
        E-Mail: <input type='text' name='mail'> <br>
        Passwort: <input type='password' name='password'> <br>
        <input type='submit' value='Einloggen' name="login">
    </form>

    <br><br>

    <a href="http://0.0.0.0:8000/registration">
        <button>Registrieren</button>
    </a>

{% endblock %}